<%include ../layout/header.ejs%>

<div class="main-panel">
    <div class="content">


        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-12">
                    <form class="" action="/webadmin/editCategory/<%=category._id%>" method="post" enctype="multipart/form-data">
                    <div class=" row data-container">
                        <div class="col-xs-12">
                          <div class="col-xs-12 product-image">
                              <div class="file-upload">
                                  <label for="upload" class="file-upload__label"> <img style="width:60%;    border-radius: 50%;" title="choose images" src="/assets/img/upload.jpeg" alt=""> </label>
                                  <input id="upload" class="file-upload__input" type="file" name="img" required>
                              </div>
                          </div>
                        <div id="gamediv">your imge
                          <img id="myimg" src="" alt="">
                        </div>
                          <input type="text" id="url" name="url" value="" hidden >




                                <div class="form-group">
                                    <div class="form-group">
                                            <input class="form-control" name="Ename" placeholder="الاسم بالانجليزي " value="<%=category.Ename%>" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="Aname" placeholder="الاسم بالعربي" value="<%=category.Aname%>" required>
                                    </div>
                                    <div class="form-group">
                                        <div class=" form-control">
                                                <select name="parent">
                                                        <option value="0">اختر القسم الرئيسى</option>
                                                        <%data.forEach(function(category){ %>
                                                            <option value="<%=category._id %>"><%=category.Aname %></option>

                                                        <%});%>
                                                </select>
                                              </div>
                                        </div>
                                        <div class=" form-group">
                                            <button type="submit" id="submit_btn" class="add form-control">تعديل</button>
                                        </div>
                                </div>









                        </div>



                    </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
<script src="/assets/js/addcategory.js"></script>
<%include ../layout/footer.ejs%>
