<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>MATJARI</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.jpg">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/user-static/external/slick/slick.min.css">
	<link rel="stylesheet" href="/user-static/external/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/user-static/css/theme.css">
	<script src="/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<!--
<div id="loader-wrapper">
	<div id="loader">
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</div>
</div>
-->
<header>
	<nav class="panel-menu mobile-main-menu">
		<ul>
			<li class="dropdown megamenu">
				<a href="#">Electronics</a>
				<div class="dropdown-menu">
					<div class="row">
						<div class="col-sm-8">
							<div class="row tt-col-list">
								<div class="col-sm-3">
									<a class="tt-title-submenu" href="#">
										TOPS
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Blouses &amp; Shirts</a></li>
										<li><a href="#">Dresses <span class="tt-badge tt-new">New</span></a></li>
										<li>
											<a href="#">Tops &amp; Fashion</a>
											<ul>
												<li><a href="#">Link Level 1</a></li>
												<li>
													<a href="#">Link Level 1</a>
													<ul>
														<li><a href="#">Link Level 2</a></li>
														<li>
															<a href="#">Link Level 2</a>
															<ul>
																<li><a href="#">Link Level 3</a></li>
																<li><a href="#">Link Level 3</a></li>
																<li><a href="#">Link Level 3</a></li>
																<li>
																	<a href="#">Link Level 3</a>
																	<ul>
																		<li>
																			<a href="#">Link Level 4</a>
																			<ul>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																			</ul>
																		</li>
																		<li><a href="#">Link Level 4</a></li>
																	</ul>
																</li>
																<li><a href="#">Link Level 3</a></li>
															</ul>
														</li>
														<li><a href="#">Link Level 2</a></li>
														<li><a href="#">Link Level 2</a></li>
													</ul>
												</li>
												<li><a href="#">Link Level 1</a></li>
												<li><a href="#">Link Level 1</a></li>
												<li><a href="#">Link Level 1</a></li>
											</ul>
										</li>
										<li><a href="#">Sleeveless Tops</a></li>
										<li><a href="#">Sweaters</a></li>
										<li><a href="#">Jackets</a></li>
										<li><a href="#">Outerwear</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<a class="tt-title-submenu" href="#">
										BOTTOMS
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Trousers <span class="tt-badge tt-fatured">Fatured</span></a></li>
										<li>
											<a href="#">Jeans</a>
										</li>
										<li><a href="#">Leggings</a></li>
										<li><a href="#">Jumpsuit &amp; Shorts</a></li>
										<li><a href="#">Skirts</a></li>
										<li><a href="#">Tights</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<a class="tt-title-submenu" href="#">
										ACCESSORIES
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Jewellery</a></li>
										<li><a href="#">Hats</a></li>
										<li><a href="#">Scarves &amp; Snoods</a></li>
										<li><a href="#">Belts</a></li>
										<li><a href="#">Bags</a></li>
										<li><a href="#">Shoes <span class="tt-badge tt-sale">Sale 15%</span></a></li>
										<li><a href="#">Sunglasses</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<a class="tt-title-submenu" href="#">
										TOP BRANDS
									</a>
									<ul class="tt-listing-01">
										<li><a href="#" target="_blank"><img src="images/loader.svg" data-src="images/custom/brand-img-01.png" alt=""></a></li>
										<li><a href="#" target="_blank"><img src="images/loader.svg" data-src="images/custom/brand-img-02.png" alt=""></a></li>
										<li><a href="#" target="_blank"><img src="images/loader.svg" data-src="images/custom/brand-img-03.png" alt=""></a></li>
										<li><a href="#" target="_blank"><img src="images/loader.svg" data-src="images/custom/brand-img-04.png" alt=""></a></li>
										<li><a href="#" target="_blank"><img src="images/loader.svg" data-src="images/custom/brand-img-05.png" alt=""></a></li>
										<li><a href="#" target="_blank"><img src="images/loader.svg" data-src="images/custom/brand-img-06.png" alt=""></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<a href="#" class="tt-title-submenu">SPECIALS</a>
							<div class="tt-menu-slider header-menu-product arrow-location-03 row">
								<div class="col-2">
									<div class="tt-product thumbprod-center">
										<a href="#">
											<div class="tt-image-box">
												<span class="tt-img"><img src="/user-static/images/product/product-01.jpg" alt=""></span>
												<span class="tt-img-roll-over"><img src="/user-static/images/product/product-01-02.jpg" alt=""></span>
											</div>
											<div class="tt-description">
												<h2 class="tt-title">products</h2>
												<div class="tt-price">
													<span class="new-price">$14</span>
													<span class="old-price">$24</span>
												</div>
												<div class="tt-product-inside-hover">
													<div class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</div>
													<div class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></div>
												</div>
											</div>
										</a>
									</div>
								</div>
								<div class="col-2">
									<div class="tt-product thumbprod-center">
										<a href="#">
											<div class="tt-image-box">
												<span class="tt-img"><img src="images/product/product-02.jpg" alt=""></span>
												<span class="tt-img-roll-over"><img src="images/product/product-02-02.jpg" alt=""></span>
											</div>
											<div class="tt-description">
												<h2 class="tt-title">products</h2>
												<div class="tt-price">
													$17
												</div>
												<div class="tt-product-inside-hover">
													<div class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</div>
													<div class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></div>
												</div>
											</div>
										</a>
									</div>
								</div>
								<div class="col-2">
									<div class="tt-product thumbprod-center">
										<a href="#">
											<div class="tt-image-box">
												<span class="tt-img"><img src="images/product/product-04.jpg" alt=""></span>
												<span class="tt-img-roll-over"><img src="images/product/product-04-01.jpg" alt=""></span>
											</div>
											<div class="tt-description">
												<h2 class="tt-title">products</h2>
												<div class="tt-price">
													$14
												</div>
												<div class="tt-product-inside-hover">
													<div class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</div>
													<div class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></div>
												</div>
											</div>
										</a>
									</div>
								</div>
								<div class="col-2">
									<div class="tt-product thumbprod-center">
										<a href="#">
											<div class="tt-image-box">
												<span class="tt-img"><img src="images/product/product-05.jpg" alt=""></span>
												<span class="tt-img-roll-over"><img src="images/product/product-05-02.jpg" alt=""></span>
											</div>
											<div class="tt-description">
												<h2 class="tt-title">products</h2>
												<div class="tt-price">
													<span class="new-price">$14</span>
													<span class="old-price">$24</span>
												</div>
												<div class="tt-product-inside-hover">
													<div class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</div>
													<div class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="dropdown megamenu">
				<a href="#">Fashion</a>
				<div class="dropdown-menu">
					<div class="row">
						<div class="col-sm-8">
							<div class="row tt-col-list">
								<div class="col-sm-3">
									<a class="tt-title-submenu" href="#">
										TOPS
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Blouses &amp; Shirts</a></li>
										<li><a href="#">Dresses <span class="tt-badge tt-new">New</span></a></li>
										<li>
											<a href="#">Tops &amp; Fashion</a>
											<ul>
												<li><a href="#">Link Level 1</a></li>
												<li>
													<a href="#">Link Level 1</a>
													<ul>
														<li><a href="#">Link Level 2</a></li>
														<li>
															<a href="#">Link Level 2</a>
															<ul>
																<li><a href="#">Link Level 3</a></li>
																<li><a href="#">Link Level 3</a></li>
																<li><a href="#">Link Level 3</a></li>
																<li>
																	<a href="#">Link Level 3</a>
																	<ul>
																		<li>
																			<a href="#">Link Level 4</a>
																			<ul>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																			</ul>
																		</li>
																		<li><a href="#">Link Level 4</a></li>
																	</ul>
																</li>
																<li><a href="#">Link Level 3</a></li>
															</ul>
														</li>
														<li><a href="#">Link Level 2</a></li>
														<li><a href="#">Link Level 2</a></li>
													</ul>
												</li>
												<li><a href="#">Link Level 1</a></li>
												<li><a href="#">Link Level 1</a></li>
												<li><a href="#">Link Level 1</a></li>
											</ul>
										</li>
										<li><a href="#">Sleeveless Tops</a></li>
										<li><a href="#">Sweaters</a></li>
										<li><a href="#">Jackets</a></li>
										<li><a href="#">Outerwear</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<a class="tt-title-submenu" href="#">
										BOTTOMS
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Trousers <span class="tt-badge tt-fatured">Fatured</span></a></li>
										<li>
											<a href="#">Jeans</a>
										</li>
										<li><a href="#">Leggings</a></li>
										<li><a href="#">Jumpsuit &amp; Shorts</a></li>
										<li><a href="#">Skirts</a></li>
										<li><a href="#">Tights</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<a class="tt-title-submenu" href="#">
										ACCESSORIES
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Jewellery</a></li>
										<li><a href="#">Hats</a></li>
										<li><a href="#">Scarves &amp; Snoods</a></li>
										<li><a href="#">Belts</a></li>
										<li><a href="#">Bags</a></li>
										<li><a href="#">Shoes <span class="tt-badge tt-sale">Sale 15%</span></a></li>
										<li><a href="#">Sunglasses</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<a class="tt-title-submenu" href="#">
										TOP BRANDS
									</a>
									<ul class="tt-listing-01">
										<li><a href="#" target="_blank"><img src="images/loader.svg" data-src="images/custom/brand-img-01.png" alt=""></a></li>
										<li><a href="#" target="_blank"><img src="images/loader.svg" data-src="images/custom/brand-img-02.png" alt=""></a></li>
										<li><a href="#" target="_blank"><img src="images/loader.svg" data-src="images/custom/brand-img-03.png" alt=""></a></li>
										<li><a href="#" target="_blank"><img src="images/loader.svg" data-src="images/custom/brand-img-04.png" alt=""></a></li>
										<li><a href="#" target="_blank"><img src="images/loader.svg" data-src="images/custom/brand-img-05.png" alt=""></a></li>
										<li><a href="#" target="_blank"><img src="images/loader.svg" data-src="images/custom/brand-img-06.png" alt=""></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<a href="#" class="tt-title-submenu">SPECIALS</a>
							<div class="tt-menu-slider header-menu-product arrow-location-03 row">
								<div class="col-2">
									<div class="tt-product thumbprod-center">
										<a href="#">
											<div class="tt-image-box">
												<span class="tt-img"><img src="images/product/product-01.jpg" alt=""></span>
												<span class="tt-img-roll-over"><img src="images/product/product-01-02.jpg" alt=""></span>
											</div>
											<div class="tt-description">
												<h2 class="tt-title">products</h2>
												<div class="tt-price">
													<span class="new-price">$14</span>
													<span class="old-price">$24</span>
												</div>
												<div class="tt-product-inside-hover">
													<div class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</div>
													<div class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></div>
												</div>
											</div>
										</a>
									</div>
								</div>
								<div class="col-2">
									<div class="tt-product thumbprod-center">
										<a href="#">
											<div class="tt-image-box">
												<span class="tt-img"><img src="images/product/product-02.jpg" alt=""></span>
												<span class="tt-img-roll-over"><img src="images/product/product-02-02.jpg" alt=""></span>
											</div>
											<div class="tt-description">
												<h2 class="tt-title">products</h2>
												<div class="tt-price">
													$17
												</div>
												<div class="tt-product-inside-hover">
													<div class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</div>
													<div class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></div>
												</div>
											</div>
										</a>
									</div>
								</div>
								<div class="col-2">
									<div class="tt-product thumbprod-center">
										<a href="#">
											<div class="tt-image-box">
												<span class="tt-img"><img src="images/product/product-04.jpg" alt=""></span>
												<span class="tt-img-roll-over"><img src="images/product/product-04-01.jpg" alt=""></span>
											</div>
											<div class="tt-description">
												<h2 class="tt-title">products</h2>
												<div class="tt-price">
													$14
												</div>
												<div class="tt-product-inside-hover">
													<div class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</div>
													<div class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></div>
												</div>
											</div>
										</a>
									</div>
								</div>
								<div class="col-2">
									<div class="tt-product thumbprod-center">
										<a href="#">
											<div class="tt-image-box">
												<span class="tt-img"><img src="images/product/product-05.jpg" alt=""></span>
												<span class="tt-img-roll-over"><img src="images/product/product-05-02.jpg" alt=""></span>
											</div>
											<div class="tt-description">
												<h2 class="tt-title">products</h2>
												<div class="tt-price">
													<span class="new-price">$14</span>
													<span class="old-price">$24</span>
												</div>
												<div class="tt-product-inside-hover">
													<div class="tt-btn-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</div>
													<div class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<a href="#" class="tt-promo-02">
								<img src="images/custom/header-promo-01.jpg" alt="">
								<div class="tt-description tt-point-h-l">
									<div class="tt-description-wrapper">
										<div class="tt-title-small">SUMMER <span class="tt-base-color">2018</span></div>
										<div class="tt-title-large">NEW ARRIVALS</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6">
							<a href="#" class="tt-promo-02">
								<img src="images/custom/header-promo-02.jpg" alt="">
								<div class="tt-description tt-point-h-l">
									<div class="tt-description-wrapper">
										<div class="tt-title-small"><span class="tt-white-color">CLEARANCE SALES</span></div>
										<div class="tt-title-large"><span class="tt-white-color">GET UP TO 20% OFF</span></div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</li>
			<li class="dropdown megamenu">
				<a href="#">Home & Kitchen</a>
				<div class="dropdown-menu">
					<div class="row">
						<div class="col-sm-9">
							<div class="row tt-col-list">
								<div class="col-sm-4">
									<a href="#" class="tt-title-submenu">
										TOPS
										<img  src="images/loader.svg" data-src="images/custom/header-category-01.jpg" alt="">
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Shirts</a></li>
										<li><a href="#">Sweaters  <span class="tt-badge tt-new">New</span></a></li>
										<li>
											<a href="#">Tops &amp; Fashion</a>
											<ul>
												<li><a href="#">Link Level 1</a></li>
												<li>
													<a href="#">Link Level 1</a>
													<ul>
														<li><a href="#">Link Level 2</a></li>
														<li>
															<a href="#">Link Level 2</a>
															<ul>
																<li><a href="#">Link Level 3</a></li>
																<li><a href="#">Link Level 3</a></li>
																<li><a href="#">Link Level 3</a></li>
																<li>
																	<a href="#">Link Level 3</a>
																	<ul>
																		<li>
																			<a href="#">Link Level 4</a>
																			<ul>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																			</ul>
																		</li>
																		<li><a href="#">Link Level 4</a></li>
																		<li><a href="#">Link Level 4</a></li>
																		<li><a href="#">Link Level 4</a></li>
																		<li><a href="#">Link Level 4</a></li>
																	</ul>
																</li>
																<li><a href="#">Link Level 3</a></li>
															</ul>
														</li>
														<li><a href="#">Link Level 2</a></li>
														<li><a href="#">Link Level 2</a></li>
														<li><a href="#">Link Level 2</a></li>
													</ul>
												</li>
												<li><a href="#">Link Level 1</a></li>
												<li><a href="#">Link Level 1</a></li>
												<li><a href="#">Link Level 1</a></li>
											</ul>
										</li>
										<li><a href="#">Sleeveless Tops</a></li>
										<li><a href="#">Jackets</a></li>
										<li><a href="#">Outerwear</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<a class="tt-title-submenu" href="#">
										BOTTOMS
										<img  src="images/loader.svg" data-src="images/custom/header-category-02.jpg" alt="">
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Trousers <span class="tt-badge tt-fatured">Fatured</span></a></li>
										<li><a href="#">Jeans</a></li>
										<li><a href="#">Jumpsuit &amp; Shorts</a></li>
										<li><a href="#">Skirts</a></li>
										<li><a href="#">Tights</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<a class="tt-title-submenu" href="#">
										ACCESSORIES
										<img  src="images/loader.svg" data-src="images/custom/header-category-03.jpg" alt="">
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Hats</a></li>
										<li><a href="#">Scarves &amp; Snoods</a></li>
										<li><a href="#">Belts</a></li>
										<li><a href="#">Bags</a></li>
										<li><a href="#">Shoes</a></li>
										<li><a href="#">Sunglasses <span class="tt-badge tt-sale">Sale 15%</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="tt-offset-7">
								<a href="#" class="tt-promo-02">
									<img  src="images/loader.svg" data-src="images/custom/header-promo-03.jpg" alt="">
									<div class="tt-description tt-point-h-l tt-point-v-t">
										<div class="tt-description-wrapper">
											<div class="tt-title-small tt-white-color">SALE</div>
											<div class="tt-title-xlarge tt-white-color">70% OFF</div>
											<p class="tt-white-color">Free shipping on all US order or order above $99</p>
											<span class="btn-underline tt-obj-bottom tt-white-color">SHOP NOW!</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="dropdown megamenu">
				<a href="#">Beauty & Fragrance</a>
				<div class="dropdown-menu">
					<div class="row">
						<div class="col-sm-9">
							<div class="row tt-col-list">
								<div class="col-sm-4">
									<a href="#" class="tt-title-submenu">
										TOPS
										<img  src="images/loader.svg" data-src="images/custom/header-category-01.jpg" alt="">
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Shirts</a></li>
										<li><a href="#">Sweaters  <span class="tt-badge tt-new">New</span></a></li>
										<li>
											<a href="#">Tops &amp; Fashion</a>
											<ul>
												<li><a href="#">Link Level 1</a></li>
												<li>
													<a href="#">Link Level 1</a>
													<ul>
														<li><a href="#">Link Level 2</a></li>
														<li>
															<a href="#">Link Level 2</a>
															<ul>
																<li><a href="#">Link Level 3</a></li>
																<li><a href="#">Link Level 3</a></li>
																<li><a href="#">Link Level 3</a></li>
																<li>
																	<a href="#">Link Level 3</a>
																	<ul>
																		<li>
																			<a href="#">Link Level 4</a>
																			<ul>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																			</ul>
																		</li>
																		<li><a href="#">Link Level 4</a></li>
																		<li><a href="#">Link Level 4</a></li>
																		<li><a href="#">Link Level 4</a></li>
																		<li><a href="#">Link Level 4</a></li>
																	</ul>
																</li>
																<li><a href="#">Link Level 3</a></li>
															</ul>
														</li>
														<li><a href="#">Link Level 2</a></li>
														<li><a href="#">Link Level 2</a></li>
														<li><a href="#">Link Level 2</a></li>
													</ul>
												</li>
												<li><a href="#">Link Level 1</a></li>
												<li><a href="#">Link Level 1</a></li>
												<li><a href="#">Link Level 1</a></li>
											</ul>
										</li>
										<li><a href="#">Sleeveless Tops</a></li>
										<li><a href="#">Jackets</a></li>
										<li><a href="#">Outerwear</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<a class="tt-title-submenu" href="#">
										BOTTOMS
										<img  src="images/loader.svg" data-src="images/custom/header-category-02.jpg" alt="">
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Trousers <span class="tt-badge tt-fatured">Fatured</span></a></li>
										<li><a href="#">Jeans</a></li>
										<li><a href="#">Jumpsuit &amp; Shorts</a></li>
										<li><a href="#">Skirts</a></li>
										<li><a href="#">Tights</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<a class="tt-title-submenu" href="#">
										ACCESSORIES
										<img  src="images/loader.svg" data-src="images/custom/header-category-03.jpg" alt="">
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Hats</a></li>
										<li><a href="#">Scarves &amp; Snoods</a></li>
										<li><a href="#">Belts</a></li>
										<li><a href="#">Bags</a></li>
										<li><a href="#">Shoes</a></li>
										<li><a href="#">Sunglasses <span class="tt-badge tt-sale">Sale 15%</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="tt-offset-7">
								<a href="#" class="tt-promo-02">
									<img  src="images/loader.svg" data-src="images/custom/header-promo-03.jpg" alt="">
									<div class="tt-description tt-point-h-l tt-point-v-t">
										<div class="tt-description-wrapper">
											<div class="tt-title-small tt-white-color">SALE</div>
											<div class="tt-title-xlarge tt-white-color">70% OFF</div>
											<p class="tt-white-color">Free shipping on all US order or order above $99</p>
											<span class="btn-underline tt-obj-bottom tt-white-color">SHOP NOW!</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="dropdown megamenu">
				<a href="#">Baby & Kids</a>
				<div class="dropdown-menu">
					<div class="row">
						<div class="col-sm-9">
							<div class="row tt-col-list">
								<div class="col-sm-4">
									<a href="#" class="tt-title-submenu">
										TOPS
										<img  src="images/loader.svg" data-src="images/custom/header-category-01.jpg" alt="">
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Shirts</a></li>
										<li><a href="#">Sweaters  <span class="tt-badge tt-new">New</span></a></li>
										<li>
											<a href="#">Tops &amp; Fashion</a>
											<ul>
												<li><a href="#">Link Level 1</a></li>
												<li>
													<a href="#">Link Level 1</a>
													<ul>
														<li><a href="#">Link Level 2</a></li>
														<li>
															<a href="#">Link Level 2</a>
															<ul>
																<li><a href="#">Link Level 3</a></li>
																<li><a href="#">Link Level 3</a></li>
																<li><a href="#">Link Level 3</a></li>
																<li>
																	<a href="#">Link Level 3</a>
																	<ul>
																		<li>
																			<a href="#">Link Level 4</a>
																			<ul>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																			</ul>
																		</li>
																		<li><a href="#">Link Level 4</a></li>
																		<li><a href="#">Link Level 4</a></li>
																		<li><a href="#">Link Level 4</a></li>
																		<li><a href="#">Link Level 4</a></li>
																	</ul>
																</li>
																<li><a href="#">Link Level 3</a></li>
															</ul>
														</li>
														<li><a href="#">Link Level 2</a></li>
														<li><a href="#">Link Level 2</a></li>
														<li><a href="#">Link Level 2</a></li>
													</ul>
												</li>
												<li><a href="#">Link Level 1</a></li>
												<li><a href="#">Link Level 1</a></li>
												<li><a href="#">Link Level 1</a></li>
											</ul>
										</li>
										<li><a href="#">Sleeveless Tops</a></li>
										<li><a href="#">Jackets</a></li>
										<li><a href="#">Outerwear</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<a class="tt-title-submenu" href="#">
										BOTTOMS
										<img  src="images/loader.svg" data-src="images/custom/header-category-02.jpg" alt="">
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Trousers <span class="tt-badge tt-fatured">Fatured</span></a></li>
										<li><a href="#">Jeans</a></li>
										<li><a href="#">Jumpsuit &amp; Shorts</a></li>
										<li><a href="#">Skirts</a></li>
										<li><a href="#">Tights</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<a class="tt-title-submenu" href="#">
										ACCESSORIES
										<img  src="images/loader.svg" data-src="images/custom/header-category-03.jpg" alt="">
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Hats</a></li>
										<li><a href="#">Scarves &amp; Snoods</a></li>
										<li><a href="#">Belts</a></li>
										<li><a href="#">Bags</a></li>
										<li><a href="#">Shoes</a></li>
										<li><a href="#">Sunglasses <span class="tt-badge tt-sale">Sale 15%</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="tt-offset-7">
								<a href="#" class="tt-promo-02">
									<img  src="images/loader.svg" data-src="images/custom/header-promo-03.jpg" alt="">
									<div class="tt-description tt-point-h-l tt-point-v-t">
										<div class="tt-description-wrapper">
											<div class="tt-title-small tt-white-color">SALE</div>
											<div class="tt-title-xlarge tt-white-color">70% OFF</div>
											<p class="tt-white-color">Free shipping on all US order or order above $99</p>
											<span class="btn-underline tt-obj-bottom tt-white-color">SHOP NOW!</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="dropdown megamenu">
				<a href="#">Grocery</a>
				<div class="dropdown-menu">
					<div class="row">
						<div class="col-sm-9">
							<div class="row tt-col-list">
								<div class="col-sm-4">
									<a href="#" class="tt-title-submenu">
										TOPS
										<img  src="images/loader.svg" data-src="images/custom/header-category-01.jpg" alt="">
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Shirts</a></li>
										<li><a href="#">Sweaters  <span class="tt-badge tt-new">New</span></a></li>
										<li>
											<a href="#">Tops &amp; Fashion</a>
											<ul>
												<li><a href="#">Link Level 1</a></li>
												<li>
													<a href="#">Link Level 1</a>
													<ul>
														<li><a href="#">Link Level 2</a></li>
														<li>
															<a href="#">Link Level 2</a>
															<ul>
																<li><a href="#">Link Level 3</a></li>
																<li><a href="#">Link Level 3</a></li>
																<li><a href="#">Link Level 3</a></li>
																<li>
																	<a href="#">Link Level 3</a>
																	<ul>
																		<li>
																			<a href="#">Link Level 4</a>
																			<ul>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																				<li><a href="#">Link Level 5</a></li>
																			</ul>
																		</li>
																		<li><a href="#">Link Level 4</a></li>
																		<li><a href="#">Link Level 4</a></li>
																		<li><a href="#">Link Level 4</a></li>
																		<li><a href="#">Link Level 4</a></li>
																	</ul>
																</li>
																<li><a href="#">Link Level 3</a></li>
															</ul>
														</li>
														<li><a href="#">Link Level 2</a></li>
														<li><a href="#">Link Level 2</a></li>
														<li><a href="#">Link Level 2</a></li>
													</ul>
												</li>
												<li><a href="#">Link Level 1</a></li>
												<li><a href="#">Link Level 1</a></li>
												<li><a href="#">Link Level 1</a></li>
											</ul>
										</li>
										<li><a href="#">Sleeveless Tops</a></li>
										<li><a href="#">Jackets</a></li>
										<li><a href="#">Outerwear</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<a class="tt-title-submenu" href="#">
										BOTTOMS
										<img  src="images/loader.svg" data-src="images/custom/header-category-02.jpg" alt="">
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Trousers <span class="tt-badge tt-fatured">Fatured</span></a></li>
										<li><a href="#">Jeans</a></li>
										<li><a href="#">Jumpsuit &amp; Shorts</a></li>
										<li><a href="#">Skirts</a></li>
										<li><a href="#">Tights</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<a class="tt-title-submenu" href="#">
										ACCESSORIES
										<img  src="images/loader.svg" data-src="images/custom/header-category-03.jpg" alt="">
									</a>
									<ul class="tt-megamenu-submenu">
										<li><a href="#">Hats</a></li>
										<li><a href="#">Scarves &amp; Snoods</a></li>
										<li><a href="#">Belts</a></li>
										<li><a href="#">Bags</a></li>
										<li><a href="#">Shoes</a></li>
										<li><a href="#">Sunglasses <span class="tt-badge tt-sale">Sale 15%</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="tt-offset-7">
								<a href="#" class="tt-promo-02">
									<img  src="images/loader.svg" data-src="images/custom/header-promo-03.jpg" alt="">
									<div class="tt-description tt-point-h-l tt-point-v-t">
										<div class="tt-description-wrapper">
											<div class="tt-title-small tt-white-color">SALE</div>
											<div class="tt-title-xlarge tt-white-color">70% OFF</div>
											<p class="tt-white-color">Free shipping on all US order or order above $99</p>
											<span class="btn-underline tt-obj-bottom tt-white-color">SHOP NOW!</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="dropdown">
				<a href="#">اDaily Deals</a>
			</li>
		</ul>
		<div class="mm-navbtn-names">
			<div class="mm-closebtn">Close</div>
			<div class="mm-backbtn">Back</div>
		</div>
	</nav>
	<nav class="panel-menu mobile-caterorie-menu">
		<ul>
			<li>
				<a href="#">
					<i class="icon-women"></i>
					<span>Electronics</span>
				</a>
				<ul>
					<li>
						<a href="#">TOPS</a>
						<ul>
							<li><a href="#">Blouses &amp; Shirts</a></li>
							<li><a href="#">Dresses <span class="tt-badge tt-new">New</span></a></li>
							<li>
								<a href="#">Tops &amp; Fashion</a>
								<ul>
									<li><a href="#">Link Level 1</a></li>
									<li>
										<a href="#">Link Level 1</a>
										<ul>
											<li><a href="#">Link Level 2</a></li>
											<li>
												<a href="#">Link Level 2</a>
												<ul>
													<li><a href="#">Link Level 3</a></li>
													<li><a href="#">Link Level 3</a></li>
													<li><a href="#">Link Level 3</a></li>
													<li>
														<a href="#">Link Level 3</a>
														<ul>
															<li>
																<a href="#">Link Level 4</a>
																<ul>
																	<li><a href="#">Link Level 5</a></li>
																	<li><a href="#">Link Level 5</a></li>
																	<li><a href="#">Link Level 5</a></li>
																	<li><a href="#">Link Level 5</a></li>
																	<li><a href="#">Link Level 5</a></li>
																</ul>
															</li>
															<li><a href="#">Link Level 4</a></li>
															<li><a href="#">Link Level 4</a></li>
															<li><a href="#">Link Level 4</a></li>
															<li><a href="#">Link Level 4</a></li>
														</ul>
													</li>
													<li><a href="#">Link Level 3</a></li>
												</ul>
											</li>
											<li><a href="#">Link Level 2</a></li>
											<li><a href="#">Link Level 2</a></li>
											<li><a href="#">Link Level 2</a></li>
										</ul>
									</li>
									<li><a href="#">Link Level 1</a></li>
									<li><a href="#">Link Level 1</a></li>
									<li><a href="#">Link Level 1</a></li>
								</ul>
							</li>
							<li><a href="#">Sleeveless Tops</a></li>
							<li><a href="#">Sweaters</a></li>
							<li><a href="#">Jackets</a></li>
							<li><a href="#">Outerwear</a></li>
						</ul>
					</li>
					<li>
						<a href="#">BOTTOMS</a>
						<ul>
							<li><a href="#">Trousers <span class="tt-badge tt-fatured">Fatured</span></a></li>
							<li><a href="#">Jeans</a></li>
							<li><a href="#">Leggings</a></li>
							<li><a href="#">Jumpsuit &amp; Shorts</a></li>
							<li><a href="#">Skirts</a></li>
							<li><a href="#">Tights</a></li>
						</ul>
					</li>
					<li>
						<a href="#">ACCESSORIES</a>
						<ul>
							<li><a href="#">Jewellery</a></li>
							<li><a href="#">Hats</a></li>
							<li><a href="#">Scarves &amp; Snoods</a></li>
							<li><a href="#">Belts</a></li>
							<li><a href="#">Bags</a></li>
							<li><a href="#">Shoes</a></li>
							<li><a href="#">Sunglasses <span class="tt-badge tt-sale">Sale 15%</span></a></li>
						</ul>
					</li>
					<li>
						<a href="#">SPECIALS</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<i class="icon-men"></i>
					<span>Fashion</span>
				</a>
				<ul>
					<li>
						<a href="#">TOPS</a>
						<ul>
							<li><a href="#">Blouses &amp; Shirts</a></li>
							<li><a href="#">Dresses <span class="tt-badge tt-new">New</span></a></li>
							<li>
								<a href="#">Tops &amp; Fashion</a>
								<ul>
									<li><a href="#">Link Level 1</a></li>
									<li>
										<a href="#">Link Level 1</a>
										<ul>
											<li><a href="#">Link Level 2</a></li>
											<li>
												<a href="#">Link Level 2</a>
												<ul>
													<li><a href="#">Link Level 3</a></li>
													<li><a href="#">Link Level 3</a></li>
													<li><a href="#">Link Level 3</a></li>
													<li>
														<a href="#">Link Level 3</a>
														<ul>
															<li>
																<a href="#">Link Level 4</a>
																<ul>
																	<li><a href="#">Link Level 5</a></li>
																	<li><a href="#">Link Level 5</a></li>
																	<li><a href="#">Link Level 5</a></li>
																	<li><a href="#">Link Level 5</a></li>
																	<li><a href="#">Link Level 5</a></li>
																</ul>
															</li>
															<li><a href="#">Link Level 4</a></li>
															<li><a href="#">Link Level 4</a></li>
															<li><a href="#">Link Level 4</a></li>
															<li><a href="#">Link Level 4</a></li>
														</ul>
													</li>
													<li><a href="#">Link Level 3</a></li>
												</ul>
											</li>
											<li><a href="#">Link Level 2</a></li>
											<li><a href="#">Link Level 2</a></li>
											<li><a href="#">Link Level 2</a></li>
										</ul>
									</li>
									<li><a href="#">Link Level 1</a></li>
									<li><a href="#">Link Level 1</a></li>
									<li><a href="#">Link Level 1</a></li>
								</ul>
							</li>
							<li><a href="#">Sleeveless Tops</a></li>
							<li><a href="#">Sweaters</a></li>
							<li><a href="#">Jackets</a></li>
							<li><a href="#">Outerwear</a></li>
						</ul>
					</li>
					<li>
						<a href="#">BOTTOMS</a>
						<ul>
							<li><a href="#">Trousers <span class="tt-badge tt-fatured">Fatured</span></a></li>
							<li><a href="#">Jeans</a></li>
							<li><a href="#">Leggings</a></li>
							<li><a href="#">Jumpsuit &amp; shorts</a></li>
							<li><a href="#">Skirts</a></li>
							<li><a href="#">Tights</a></li>
						</ul>
					</li>
					<li>
						<a href="#">ACCESSORIES</a>
						<ul>
							<li><a href="#">Jewellery</a></li>
							<li><a href="#">Hats</a></li>
							<li><a href="#">Scarves &amp; Snoods</a></li>
							<li><a href="#">Belts</a></li>
							<li><a href="#">Bags</a></li>
							<li><a href="#">Shoes</a></li>
							<li><a href="#">Sunglasses <span class="tt-badge tt-sale">Sale 15%</span></a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<i class="icon-new"></i>
					<span>Home & Kitchen</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="icon-sale"></i>
					<span>Beauty & Fragrance</span>
				</a>
			</li>
		</ul>
		<div class="mm-navbtn-names">
			<div class="mm-closebtn">Close</div>
			<div class="mm-backbtn">Back</div>
		</div>
	</nav>
	<!-- tt-mobile-header -->
	<div class="tt-mobile-header">

		<div class="container-fluid tt-top-line">
			<div class="tt-header-row">
				<div class="tt-mobile-parent-menu">
					<div class="tt-menu-toggle stylization-02">
						<i class="icon-03"></i>
					</div>
				</div>
				<div class="tt-mobile-parent-menu-categories tt-parent-box">
					<button class="tt-categories-toggle">
						<i class="icon-categories"></i>
					</button>
				</div>
				<!-- search -->
				<div class="tt-mobile-parent-search tt-parent-box"></div>
				<!-- /search -->
				<!-- cart -->
				<div class="tt-mobile-parent-cart tt-parent-box"></div>
				<!-- /cart -->
				<!-- account -->
				<div class="tt-mobile-parent-account tt-parent-box"></div>
				<!-- /account -->
				<!-- currency -->
				<div class="tt-mobile-parent-multi tt-parent-box"></div>
				<!-- /currency -->
			</div>
		</div>
		<div class="container-fluid tt-top-line">
			<div class="row">
				<div class="tt-logo-container">
					<!-- mobile logo -->
					<a class="tt-logo tt-logo-alignment" href="index.html"><img src="/user-static/images/custom/logo.png" alt=""></a>
					<!-- /mobile logo -->
				</div>
			</div>
		</div>
	</div>
	<!-- tt-desktop-header -->
	<div class="tt-desktop-header headerunderline">
		<div class="mainH">
			<div class="container fluid">
				<div class="tt-header-holder">
					<div class="tt-col-obj tt-obj-logo">
						<!-- logo -->
						<a class="tt-logo tt-logo-alignment" href="index.html">
							<img src="/user-static/images/custom/logo.png" alt="">
						</a>
						<!-- /logo -->
					</div>
					<div class="tt-col-obj tt-obj-search-type2">
						<div class="tt-search-type2">
				 			<!-- tt-search -->
							<form action="/search" method="get" role="search">
								<input class="tt-search-input" type="search" placeholder="SEARCH PRODUCTS..." aria-label="SEARCH PRODUCTS..." autocomplete="off">
								<button type="submit" class="tt-btn-search">SEARCH</button>
								<div class="search-results" style="display: none;"></div>
							</form>
							<!-- /tt-search -->
						</div>
					</div>
					<div class="tt-col-obj obj-move-right">
						<!-- tt-langue and tt-currency -->
						<div class="tt-desctop-parent-multi tt-parent-box">
							<div class="tt-multi-obj tt-dropdown-obj">
								<button class="tt-dropdown-toggle" data-tooltip="Settings" data-tposition="bottom">
									<i class="icon-f-79"></i>&nbsp;<span>Language</span>
								</button>
								<div class="tt-dropdown-menu">
									<div class="tt-mobile-add">
										<button class="tt-close">Close</button>
									</div>
									<div class="tt-dropdown-inner">
										<ul>
											<li class="active"><a href="#">English</a></li>
											<li><a href="#">Arabic</a></li>

										</ul>
										<ul>
											<li class="active"><a href="#"><i class="icon-h-59"></i>USD - US Dollar</a></li>
											<li><a href="#"><i class="icon-h-60"></i>EUR - Euro</a></li>

										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- /tt-langue and tt-currency -->
						<!-- tt-account -->
						<div class="tt-desctop-parent-account tt-parent-box">
							<div class="tt-account tt-dropdown-obj">
								<button class="tt-dropdown-toggle"  data-tooltip="My Account" data-tposition="bottom">
									<i class="icon-f-94"></i>&nbsp;<span><%=username%></span>
								</button>
								<div class="tt-dropdown-menu">
									<div class="tt-mobile-add">
										<button class="tt-close">Close</button>
									</div>
									<div class="tt-dropdown-inner">
										<ul>
										    <li><a href="login.html"><i class="icon-f-94"></i>Account</a></li>
										    <li><a href="wishlist.html"><i class="icon-n-072"></i>Wishlist</a></li>
										    <li><a href="compare.html"><i class="icon-n-08"></i>Compare</a></li>
										    <li><a href="page404.html"><i class="icon-f-68"></i>Check Out</a></li>
										    <li><a href="login.html"><i class="icon-f-76"></i>Sign In</a></li>
										    <li><a href="page404.html"><i class="icon-f-77"></i>Sign Out</a></li>
										    <li><a href="create-account.html"><i class="icon-f-94"></i>Register</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- /tt-account -->
						<!-- tt-cart -->
						<div class="tt-desctop-parent-cart tt-parent-box">
							<div class="tt-cart tt-dropdown-obj" data-tooltip="Cart" data-tposition="bottom">
								<button class="tt-dropdown-toggle">
									<i class="icon-g-48"></i>&nbsp;<span>Cart</span>
									<span class="tt-badge-cart">3</span>
								</button>
								<div class="tt-dropdown-menu">
									<div class="tt-mobile-add">
										<h6 class="tt-title">SHOPPING CART</h6>
										<button class="tt-close">Close</button>
									</div>
									<div class="tt-dropdown-inner">
										<div class="tt-cart-layout">
											<!-- layout emty cart -->
											<!-- <a href="empty-cart.html" class="tt-cart-empty">
												<i class="icon-f-39"></i>
												<p>No Products in the Cart</p>
											</a> -->
											<div class="tt-cart-content">
												<div class="tt-cart-list">
													<div class="tt-item">
														<a href="#">
															<div class="tt-item-img">
																<img src="images/loader.svg" data-src="images/product/product-01.jpg" alt="">
															</div>
															<div class="tt-item-descriptions">
																<h2 class="tt-title">product 1</h2>
																<ul class="tt-add-info">
																	<li>Yellow, Material 2, Size 58,</li>
																	<li>Vendor: Addidas</li>
																</ul>
																<div class="tt-quantity">1 X</div> <div class="tt-price">$12</div>
															</div>
														</a>
														<div class="tt-item-close">
															<a href="#" class="tt-btn-close"></a>
														</div>
													</div>
													<div class="tt-item">
														<a href="#">
															<div class="tt-item-img">
																<img src="images/loader.svg" data-src="images/product/product-02.jpg" alt="">
															</div>
															<div class="tt-item-descriptions">
																<h2 class="tt-title">product 2</h2>
																<ul class="tt-add-info">
																	<li>Yellow, Material 2, Size 58,</li>
																	<li>Vendor: Addidas</li>
																</ul>
																<div class="tt-quantity">1 X</div> <div class="tt-price">$18</div>
															</div>
														</a>
														<div class="tt-item-close">
															<a href="#" class="tt-btn-close"></a>
														</div>
													</div>
												</div>
												<div class="tt-cart-total-row">
													<div class="tt-cart-total-title">SUBTOTAL:</div>
													<div class="tt-cart-total-price">$324</div>
												</div>
												<div class="tt-cart-btn">
													<div class="tt-item">
														<a href="#" class="btn">PROCEED TO CHECKOUT</a>
													</div>
													<div class="tt-item">
														<a href="/webuser/card/<%=userId%>" class="btn-link-02 tt-hidden-mobile">View Cart</a>
														<a href="/webuser/card/<%=userId%>" class="btn btn-border tt-hidden-desctope">VIEW CART</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /tt-cart -->
					</div>
				</div>
			</div>
		</div>
		<div class="navH">
			<div class="container small-header">
				<div class="tt-header-holder">
					<div class="tt-col-obj tt-obj-menu-categories tt-desctop-parent-menu-categories">
						<div class="tt-menu-categories">
							<button class="tt-dropdown-toggle">
								CATEGORIES
							</button>
							<div class="tt-dropdown-menu">
								<nav>
									<ul>
                    <%categories.forEach(function(category){ %>
										<li>
											<a href="#" onmouseover="subcat1('<%=category._id%>')">
												<i class="icon-women"></i>
												<span><%= category.Aname%></span>
											</a>
                      <script type="text/javascript">
													var catId1;

                          function subcat1(category_id){
                            $.ajax({
                            type:"GET",
                            url:"http://localhost:8090/category/subcategories/"+category_id,
                            dataType:"json",
                            success:function(data){
                              $('.cat1').html("")
                              for(var i=0;i<data["data"].length;i++){
                                //console.log(data["data"][i].Aname);

                                catId1=data["data"][i]._id;

																	var t = document.createTextNode(data["data"][i].Aname);       // Create a text node

																	 var li = document.createElement("li");
																	 var an = document.createElement("a");
																	 an.appendChild(t);
																	 an.setAttribute('href', "/webuser/category/"+catId1);
																	li.appendChild(an);
                                  $('.cat1').append(li);
                              }
                            }
                          })
                        }
                          </script>
											<div class="dropdown-menu size-md">
										       <div class="dropdown-menu-wrapper">
										       		<div class="row">
														<div class="col-12">													<div class="row tt-col-list">
																<div class="col-sm-6">
																	<ul class="tt-megamenu-submenu cat1">

																	</ul>
																</div>

															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12">
															<a href="#" class="tt-promo-02">
																<img src="/user-static/images/custom/header-promo-01.jpg" alt="">
																<div class="tt-description tt-point-h-l">
																	<div class="tt-description-wrapper">
																		<div class="tt-title-small">SUMMER <span class="tt-base-color">2018</span></div>
																		<div class="tt-title-large">NEW ARRIVALS</div>
																	</div>
																</div>
															</a>
														</div>
													</div>
										       </div>
										    </div>
										</li>
									<%})%>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<div class="tt-col-obj tt-obj-menu">
						<!-- tt-menu -->
						<div class="tt-desctop-parent-menu tt-parent-box">
							<div class="tt-desctop-menu">
								<nav>
									<ul>
                    <%categories.forEach(function(category){ %>
										<li class="dropdown megamenu">
                      <a href="#" onmouseover="subcat('<%=category._id%>')"><%=category.Aname%></a>
											<script type="text/javascript">
												var mya = $(this);

													function subcat(category_id){
														$.ajax({
														type:"GET",
														url:"http://localhost:8090/category/subcategories/"+category_id,
														dataType:"json",
														success:function(data){
															$('.mycat').html("")
															for(var i=0;i<data["data"].length;i++){
																//console.log(data["data"][i].Aname);
																catId1=data["data"][i]._id;

																	var t = document.createTextNode(data["data"][i].Aname);       // Create a text node

																	 var li = document.createElement("li");
																	 var an = document.createElement("a");
																	 an.appendChild(t);
																	 an.setAttribute('href', "/webuser/category/"+catId1);
																	li.appendChild(an);
                                  $('.mycat').append(li);
																	//$('.mycat').append('<li><a href="javascript:openPage()">'+data["data"][i].Aname+'</a></li>');
															}
														}


													});
													}
											</script>
											<div class="dropdown-menu">
												<div class="row">
													<div class="col-sm-2">
														<a class="tt-title-submenu" href="#">
															CATEGORIES
														</a>
														<ul class="tt-megamenu-submenu mycat">

														</ul>
													</div>
													<div class="col-sm-4">
														<a class="tt-title-submenu" href="#">
															TOP BRANDS
														</a>
														<ul class="tt-listing-01">
                              <li><a href="#" target="_blank"><img src="/user-static/images/loader.svg" data-src="/user-static/images/custom/brand-img-01.png" alt=""></a></li>
															<li><a href="#" target="_blank"><img src="/user-static/images/loader.svg" data-src="/user-static/images/custom/brand-img-02.png" alt=""></a></li>
															<li><a href="#" target="_blank"><img src="/user-static/images/loader.svg" data-src="/user-static/images/custom/brand-img-03.png" alt=""></a></li>
															<li><a href="#" target="_blank"><img src="/user-static/images/loader.svg" data-src="/user-static/images/custom/brand-img-04.png" alt=""></a></li>
															<li><a href="#" target="_blank"><img src="/user-static/images/loader.svg" data-src="/user-static/images/custom/brand-img-05.png" alt=""></a></li>
															<li><a href="#" target="_blank"><img src="/user-static/images/loader.svg" data-src="/user-static/images/custom/brand-img-06.png" alt=""></a></li>
														</ul>
													</div>
                          <div class="col-sm-4">
														<img src="/user-static/images/4.jpg" alt="add">
													</div>
													<div class="col-sm-2">
														<img src="/user-static/images/2.jpg" alt="add">
													</div>
												</div>
											</div>
										</li>
										<%})%>
									</ul>
								</nav>
							</div>
						</div>
						<!-- /tt-menu -->
					</div>
				<!--
					<div class="tt-col-obj tt-obj-options obj-move-right">
						<!-- tt-search
						<div class="tt-desctop-parent-search tt-parent-box tt-obj-desktop-hidden">
							<div class="tt-search tt-dropdown-obj">
								<button class="tt-dropdown-toggle" data-tooltip="Search" data-tposition="bottom">
									<i class="icon-f-85"></i>
								</button>
								<div class="tt-dropdown-menu">
									<div class="container">
										<form>
											<div class="tt-col">
												<input type="text" class="tt-search-input" placeholder="Search Products...">
												<button class="tt-btn-search" type="submit"></button>
											</div>
											<div class="tt-col">
												<button class="tt-btn-close icon-g-80"></button>
											</div>
											<div class="tt-info-text">
												What are you Looking for?
											</div>
											<div class="search-results">
												<ul>
													<li>
											            <a href="#">
											            	<div class="thumbnail"><img src="images/loader.svg" data-src="images/product/product-03.jpg" alt=""></div>
											            	<div class="tt-description">
											            		<div class="tt-title">Flared Shift Bag</div>
											            		<div class="tt-price">
																	<span class="new-price">$14</span>
																	<span class="old-price">$24</span>
																</div>
											            	</div>
											            </a>
											        </li>
											        <li>
											           <a href="#">
											            	<div class="thumbnail"><img src="images/loader.svg" data-src="images/product/product-02.jpg" alt=""></div>
											            	<div class="tt-description">
											            		<div class="tt-title">Flared Shift Bag</div>
											            		<div class="tt-price">
																	$24
																</div>
											            	</div>
											            </a>
											        </li>
											        <li>
											           <a href="#">
											            	<div class="thumbnail"><img src="images/loader.svg" data-src="images/product/product-01.jpg" alt=""></div>
											            	<div class="tt-description">
											            		<div class="tt-title">Flared Shift Bag</div>
											            		<div class="tt-price">
																	$14
																</div>
											            	</div>
											            </a>
											        </li>
											        <li>
											           <a href="#">
											            	<div class="thumbnail"><img src="images/loader.svg" data-src="images/product/product-04.jpg" alt=""></div>
											            	<div class="tt-description">
											            		<div class="tt-title">Flared Shift Bag</div>
											            		<div class="tt-price">
																	$24
																</div>
											            	</div>
											            </a>
											        </li>
											        <li>
											           <a href="#">
											            	<div class="thumbnail"><img src="images/loader.svg" data-src="images/product/product-05.jpg" alt=""></div>
											            	<div class="tt-description">
											            		<div class="tt-title">Flared Shift Bag</div>
											            		<div class="tt-price">
																	$17
																</div>
											            	</div>
											            </a>
											        </li>
											        <li>
											           <a href="#">
											            	<div class="thumbnail"><img src="images/loader.svg" data-src="images/product/product-06.jpg" alt=""></div>
											            	<div class="tt-description">
											            		<div class="tt-title">Flared Shift Bag</div>
											            		<div class="tt-price">
																	$20
																</div>
											            	</div>
											            </a>
											        </li>
												</ul>
												<button type="button" class="tt-view-all">View all products</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- /tt-search
					</div>
				-->
				</div>
			</div>
		</div>
	</div>
	<!-- /tt-desktop-header -->
	<!-- stuck nav -->
	<div class="tt-stuck-nav">
		<div class="container">
			<div class="tt-header-row ">
				<div class="tt-stuck-desctop-menu-categories"></div>
				<div class="tt-stuck-parent-menu"></div>
				<div class="tt-stuck-mobile-menu-categories"></div>
				<div class="tt-stuck-parent-search tt-parent-box"></div>
				<div class="tt-stuck-parent-cart tt-parent-box"></div>
				<div class="tt-stuck-parent-account tt-parent-box"></div>
				<div class="tt-stuck-parent-multi tt-parent-box"></div>
			</div>
		</div>
	</div>
</header>
